body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Landing Page */
#LandingPage {
  display: flex;
}

#LandingPage #productFeed {
  width: 80%;
}

#LandingPage img {
  width: 25%;
  height: 25%;
}

.LandingAuthContainer {
  margin: auto;
  display: flex;
  flex-flow: column;
  width: 20%;
}
